BACKEND_PORT=8000
FRONTEND_PORT=8282

DATABASE_NAME=postgres
DATABASE_USERNAME=root
DATABASE_PASSWORD=test123

ALLOWED_HOSTS=localhost,127.0.0.1,backend

VPS_HOST=128.140.64.40
VPS_USERNAME=viacheslav-bortnyk